@import "./quasar.variables.scss";
@import "~quasar-styl";
// @import '~quasar-addon-styl';

.q-menu {
  .router-btn {
    text-decoration: none;
  }
}

#app {
  .router-btn {
    text-decoration: none;
  }

  .router-link-exact-active .q-btn__content {
    color: #62d1e0;
  }

  .container-proj {
    padding: 0 15vw;

    h6 {
      margin-bottom: 10px;
    }
  }

  .home {
    .q-carousel {
      height: 480px;

      .caption {
        color: white;
        padding: 1vw 15vw;
        background-color: rgba($primary, 0.5);
      }
    }
  }

  .donos {
    .user-infos {
      flex-wrap: wrap;
      justify-content: space-between;
      .user-avatar {
      }
      .user-buttons {
      }
    }
  }
}
